h1{
    background-color: rgb(231, 203, 111);
}
h2{
    color:rgb(140, 209, 230);
}
body{
    background-color: rgb(255, 250, 184);
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    color:rgb(88, 139, 155);
}
span{
    color:rgb(88, 139, 155);
}
ul{
    list-style:none;
}