body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 900px;
    border: #d3d3d3 1px solid;
    margin: 1% auto;
    padding: 1%;
    background-color:#e7e7e7;
    border-radius: 20px;
}

div{
    border: 1px solid black;
    padding: 1%;
    margin-left: 17%;
    background: rgb(196,196,196);
    background: linear-gradient(180deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 50%, rgba(196,196,196,1) 100%);
}

img{
    margin-left:25px;
}

h1{
    text-align: center;
    color: green;
}

h2{
    color:rgb(126, 192, 26);
}

span{
    color:rgb(205, 127, 50);
}

nav{
    float:left;
}

ul{
    list-style-type: none;
    float:left;
    width:100px;
}

a{
    text-decoration: none;
    color:black;
}

li{
    background-color: rgb(126, 192, 26);
    margin-bottom: 15%;
    padding: 10%;
    text-align: center;
}

li:hover{
    background-color:rgb(205, 127, 50);
}

.selected{
    background-color:rgb(205, 127, 50);
}

footer{
    text-align: center;
}